<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Example.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>NUCas.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0039D2DE14ABA89600DB9B7A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0039D30814ABA94F00DB9B7A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0039D31714ABA99700DB9B7A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0039D46114ABB20B00DB9B7A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
